<div class="row my-carousel-box">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @images.each_with_index do |image, idx| %>
          <% klass = idx==0 ? 'item active' : 'item' %>
          <div class="<%= "#{klass}" %>">
              <%= image_tag "web-banner-#{image}.jpg"  %>
          </div>    
        <% end %> 
          <%# image_tag('/assets/web-banner-03.jpg') %>      
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<!-- <div id="banner" class="bg1">
</div> -->

<div class="row commitee-message">
  <div class="container">
    <div class="col-lg-12 col-md-12  lead">
      <h3>Message from the Camp Chairman </h3>
       I will like to first and foremost welcome you to this year’s camp. On behalf on the committee & myself,
I will like to thank you for accepting our invitation. We are indeed grateful and we promise it is going to be worth your while. 
This year’s theme is “The Man, The Mantle & The Mandate”. The theme makes for a good rhythm but a careful & prayerful examination 
of the theme will reveal so much more. I will like to explore the idea of “The Man” in my welcome address as a teaser for what awaits 
you in the coming days.

Genesis 1:26 encapsulates this idea clearly. It reads “And God said let us make man in our image and after in our likeness…” 
 It describes the identity of “Man” who at the heart of the recreation story & the redemptive story of the bible. Man was created 
initially in the image of God-Genesis 1:26-,fell short of that glory-Romans 3:23 & finally he was recreated in Christ who is described
 as the express image of God- Hebrew 1:1-3, Ephesians 2:10. So it is clear from the creative & redemptive story that God is primarily
 interested in restoring man’s true identity. 

This identity is our sonship- his image-, an expression of His glory & likeness. It is
 not an economic identity, social identity, racial identity or gender/sexual identity. Galatians 3:27-28 puts it succinctly. It reads,
 “For ye are all children of God by faith in Christ Jesus. For as many of you as have been baptized into Christ have put on Christ. 
There is neither Jew nor Greek(ethnicity), there is neither bond nor free(economic or social status), there is neither
 male nor female( gender/sex) These identities have tendency of limiting us as seek to wear our mantle-the power & characteristics
 of God- & carry out mandate-the plan of God for one’s life. 

Like Saul and Gideon when God calls us to purpose the first thing that
 comes to mind is our economic status & social status and not the most important identity of sonship or relationship with him.
 God wants us to be like David when He met Goliath. He didn’t doubt the immensity of the task but he was clear on whose side God was on.
 This is the key to overcoming our own Goliaths. 


So as you spend the coming week at camp be like the woman with the issue of blood. Let your faith, determination & single minded draw 
not only God’s power but also His attention & admiration. Do not be distracted by crowd. Let every minute count. Let this be your 
tipping point. Let this be “your road to Damacus experience”-Let God distract you from your normal programming and you in turn
 engage Him through bible study, prayer & worship. 


The committee will be at your beck & call. It is our prayer that this camp will be landmark and a watershed moment for you. 
You are welcome once again & we look forward to the myriad of testimonies flowing this year’s camp. We love you and God bless you!
Kind Regards,

Victor Quagraine (Chairman)

    </div>    
  </div>    
</div>
<div class="container">
  
  <div class="row testimonies">
    <div class="col-lg-12 col-md-12">
    <h3>Testimonies</h3>
  </div>
  <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
      <div class="pull-left image">
        <%= image_tag('gabriel.jpg') %>
      </div>
<p>      I remember immediately after finishing SHS I was at home and was stuck behind the TV. My
Christian life was not as smooth as I expected. By divine appointment (on hindsight) I decided to
try and chase after God. The youth fellowship announced that the camp for that year was to
evangelize to some communities in Amasaman. I joined although a bit begrudgingly, and went through the preparation
which included a series of prayer sessions as well as going through the
material to be used for the evangelism. 

It was meticulous and it was turened out to be extreemely helpfulon the field. I joined a day later than everyone else. Our leaders had planned a program which started with a movie show the people showed up and right from day one we had people giving their lives to Christ. The joy and their expressions on their faces was a sight to behold. The daily dawn broadcasts
were also a test of our determination and definitely a test of my Ga speaking skills. The opportunity to
share the word of God in my mother tongue was unique and refreshing; there is definitely no
experience better than praising God in our mother tongue. Later on in the day we would go and preach
the gospel to the communities and teach them about Christ. We would later go back and share our
clothing and goodies we had gathered from church members as well as a medical outreach. This
strategy worked well as we showed them that we were not only interested in their Spiritual welfare
but their holistic welfare as well.

The climax of the whole evangelism was the crusade. We prepared as usual excellently on all fronts.
We formed a wall of prayer around the crusade grounds and the program was hugely successful. Lots
of the inhabitants up until today are grateful for the fact that we shared Christ with them and
testimonies overflowed on our subsequent visits to the communities. I was greatly privileged to see
the hand of God and power of God move in the people I felt greatly privileged to have fulfilled the
great commission that Jesus asked His followers to do upon His leaving the earth.
My life was greatly impacted and I forever cherish the friendships I made and the privilege to impact
lives.


     <div class="name">Gabriel Adotey</div>
    </div>
  </div>
</div> 
  
</div>

<script type="text/javascript" charset="utf-8">
  (function (){
    var ids = ['camper_email', 'confirm_email', 'camper_phone_number', 'confirm_phone_number'];

    var email = $("#"+ids[0]);
    var emailConfirm = $("#"+ids[1]);
    var phoneNumber = $("#"+ids[2]);
    var phoneNumberConfirm = $("#"+ids[3]);

    var errorBox = $("#errorBox");
    var ERR_MESSAGES = {
      EMAIL_BLANK: "Email cannot be blank",
      PHONE_NUMBER_BLANK: "Phone number cannot be blank",
      EMAIL: "Emails are not the same",
      PHONE_NUMBER: "Phone Numbers are not the same",
    }

    errorBox.hide();

    for(var i =0; i < ids.length; i++){
        var id = "#" + ids[i];
        $(id).bind('copy paste', function (e) {
           e.preventDefault();
        });
    }

    $("#register_button").on('click', function (e){
      errorBox.hide();
      function areEmailsTheSame(){
        return email.val() === emailConfirm.val();
      }

      function arePhoneNumbersTheSame(){
        return phoneNumber.val() === phoneNumberConfirm.val();
      }

      function showError(message){
        errorBox.find("#message").text(message);
        errorBox.show();
        e.preventDefault();
      }

      if($.trim(email.val()) === ""){
        showError(ERR_MESSAGES.EMAIL_BLANK)
        return false;
      }

      if($.trim(phoneNumber.val()) === ""){
        showError(ERR_MESSAGES.PHONE_NUMBER_BLANK)
        return false;
      }

      if(!areEmailsTheSame()){
        showError(ERR_MESSAGES.EMAIL);
        return false;
      }

      if(!arePhoneNumbersTheSame()){
        showError(ERR_MESSAGES.PHONE_NUMBER);
        return false;
      }

    })

  })();
</script>
